*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
}
.main{
  background: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  font-size: 15px;
  margin: auto;
  min-height: 100vh;


}
h1{
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
  font-weight: 600;
color: hsl(234, 12%, 34%);
}
span{
  display: block;
  font-weight: 200;
}

.para{
  margin: auto;
  width:calc(1440px/3);
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  text-align: center;
}
section{
 display: flex;
 margin-top: 20px;
}
article{
  width:100%;
  height: 300px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  line-height: 1.8;
  /* margin: 30px; */
  padding:30px 60px;
  box-shadow: 2px 14px 18px 0px rgba(0,0,0,0.20);
-webkit-box-shadow: 2px 14px 18px 0px rgba(0,0,0,0.20);
-moz-box-shadow: 2px 14px 18px 0px rgba(0,0,0,0.20);
}

article h2{
color: hsl(234, 12%, 34%);
}
article p{
   padding-top: 10px;
   color:  hsl(229, 6%, 66%);
}
.col{
    width:33%;
    margin: 15px;
}
.col-one{
  align-self: center;
}
.col-one article{
   border-top: 7px solid hsl(180, 62%, 55%);
}
.col-two article:nth-child(1){
    border-top: 7px solid hsl(0, 78%, 62%);

}
.col-two article:nth-child(2){
    border-top: 7px solid hsl(34, 97%, 64%);
    margin-top: 30px;
}
.col-three{
  align-self: center;
}
.col-three article{
   border-top: 7px solid hsl(212, 86%, 64%);
}
img{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
@media only screen and (max-width:1000px){
 section{
   display: block;

 }
 .col{
   width: 80%;
   margin: 30px auto;
 }
}
@media only screen and (max-width:500px){
  .para{
    width:70%;
  }
 section{
   display: block;
 }
 .col{
   width: 90%;
   margin: 30px auto;
 }
}
